body{
  background-image: url(../img/wallpaper/hbdark.jpg);
  background-size:contain;
  height: 300px;
  width: 700px;
}
table{
  margin: 0% auto;
  border-style: outset;
  background-color: grey;
  border-radius: 10px 10px 10px 10px;

}
.firstnumber{
  height: ;
  width: 80px;
  /* margin-left: 0px ; */
  border-style: inset;
  border-right: none;
  border-bottom: none;
  background-color: #404040;
  border-radius: 10px 0px 0px 0px;
  color: skyblue;
}
.secondnumber{
  height: ;
  width: 80px;
  margin-left: -4px;
  border-style: inset;
  border-left: none;
  border-bottom: none;
  background-color: #404040;
  border-radius: 0px 10px 0px 0px;
  color: skyblue;
}
.signbox{
  height: 15.5px;
  width: 15.5px;
  margin-left: -5px;
  border-top-style: inset;
  border-bottom: none;
  border-left: none;
  border-right: none;
  background-color: #404040;
  color: skyblue;
}
.result{
  width: 182px;
  border-style: inset;
  border-top: none;
  background-color: #404040;
  border-radius: 0px 0px 10px 10px;
  color: skyblue;
}
button,.ac{
  width: 100%;
  border-style: outset;
  border-radius: 5px 5px 5px 5px;
  background-color: silver;
  color:#1329a8;
}
button:hover,.ac:hover{
  background-color: #e6d5d5;
  color:blue;
}
button:focus,.ac:focus{
  border-style: inset;
  background-color: grey;
  color: skyblue;
}
h1{
  text-align: center;
  color: lightblue;
}
p{
  color: white;
  text-align: center;
  margin-top: 150px;
}
a{
  text-decoration: none;
  color: blue;
}
a:hover{
  color: skyblue;
  font-size: 120%;
  transition: 0.3s;
}
h4{
  height: 15px;
  /* width: 100px; */
  /* position: fixed; */
  background-color: skyblue;
  padding: 7px;
  margin: -100px 96%;
  border-style: groove;
}
.h42{
  margin-top: 70px;
  border-radius: 20px 0px 0px 20px;
  margin-left: 96%;
  padding-left: 20px;
  text-align: left;
  width: 240px;

}
.h41{
  margin-top: -100px;
  border-radius: 20px 0px 0px 20px;
  height: 40px;
  width: 150px;
  padding-left: 25px;

}
h4:hover{
  margin-left: 90%;
  transition: 0.5s;
}
.h42:hover{
  margin-left: 90%;
  transition: 1s;
}
.a{
    color: red;
}
.a:hover{
    color: #ff3838;
}
